/* Write your CSS code here */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: rgb(34, 70, 124);
}

.main-container {
  background-image: url('https://res.cloudinary.com/ddqrzz4nx/image/upload/v1673426057/night-landscape-with-silhouettes-of-mountains-and-sky-with-stars-starry-night-sky-background-dark-blue-sky-with-shinning-stars-illustration-free-vector_vo38do.jpg');
}

.products-img {
  width: 200px;
}

.para {
  font-weight: bold;
  color: floralwhite;
}

.q-container {
  background-color: antiquewhite;
  width: 20%;
  text-align: center;
}

.register-button {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ffffff;
  padding: 8px 16px;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #ea580c;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}

.sub-head {
  color: white;
}
