.in-container {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ans-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  width: 20%;
}

.error {
  color: red;
}

.std-container {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.note {
  text-align: center;
}
