/* Write your CSS code here */
.register-button {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ffffff;
  padding: 8px 16px;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #ea580c;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}
